body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

.navbar {
  position: absolute;
  width: 100%;
  padding: 12px;
  z-index: 1;
}

.navbar.is-transparent {
  background-color: transparent;
  background-image: none;
}

.btn-logout {
  margin-left: 8px;
}

figure.image {
  border: none;
  transition: box-shadow 0.1s;
}

figure.image:hover {
  box-shadow: 0 0 16px rgba(55, 55, 55, 0.2);
}

/* Product List */
.box > .columns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-box {
  display: flex;
  align-items: center;
}

.product-box img {
  width: 180px;
  height: auto;
}

.product-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product-description p {
  margin-bottom: 1em;
}

.product-box-meta {
  margin-left: 12px;
}

.price-text {
  color: #00d1b2;
  font-weight: bold;
}

/* Dropzone */
.preview-image-box {
  border: 1px solid #dcdcdc;
  width: 100%;
  min-height: 240px;
  max-height: 320px;
  margin-top: 12px;
  object-fit: cover;
}

.input-dropzone {
  border: 1px dashed #888;
  padding: 8px;
  width: 320px;
}

.loading-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #00d1b2;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}
